
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{string UserID = "";}
@{string UserName = "";}
@{string UserImage = "";}
@{string CoverImage = "";}
@if (@Context.Request.Cookies["_UserID"].Value != null && @Context.Request.Cookies["_UserID"].Value != "")
{
    UserID = @Context.Request.Cookies["_UserID"].Value;
}
@if (Session["UserID"] != null)
{
    UserID = Session["UserID"].ToString();
}
@if (@Context.Request.Cookies["_UserImage"].Value != null && @Context.Request.Cookies["_UserImage"].Value != "")
{
    UserImage = @Context.Request.Cookies["_UserImage"].Value;
}

@if (Session["UserImage"] != null)
{
    UserImage = Session["UserImage"].ToString();
}
@if (@Context.Request.Cookies["_UserName"].Value != null && @Context.Request.Cookies["_UserName"].Value != "")
{
    UserName = @Context.Request.Cookies["_UserName"].Value;
}
@if (Session["userName"] != null)
{
    UserName = Session["userName"].ToString();
}@if (@Context.Request.Cookies["_CoverImagecookie"].Value != null && @Context.Request.Cookies["_CoverImagecookie"].Value != "")
{
    CoverImage = @Context.Request.Cookies["_CoverImagecookie"].Value;
}

@if (Session["CoverPhoto"] != null)
{
    CoverImage = Session["CoverPhoto"].ToString();
}
<head>
    <style>
        @@media(min-width: 768px) {
            .client-menu {
                width: 26%;
            }
        }

        @@media(max-width: 768px) {
            .detail-section {
                padding-top: 10px;
            }
        }
    </style>
</head>
<!-- ::::protfolio-hero-aria start:::::: -->
<section class="protfolio-hero-aria protfolio-banner custum-mg">
    <div class="protfolio-banner bg-img-content" style="background:url(@CoverImage)">
        <h1 class="d-none"> none</h1>
    </div>
</section>
<!-- ::::protfolio-hero- ariaend:::::: -->

<section class="protfolio-system">
    <div class="has-bg">
        <div class="has-bg-1">
            <img src="~/assets/img/protfolio-bg-left.png" alt="img">
        </div>
        <div class="has-bg-2">
            <img src="~/assets/img/protfolio-bg-right.png" alt="img">
        </div>
    </div>
    <div class="container custum-pd2">
        <div class="d-flex flex-wrap justify-content-between align-items-center">
            <div class="protfolio-img d-flex align-items-center ">
                <div class="img">
                    <img src="@UserImage" alt="img">
                </div>
                <div class="brooklyn">
                    <h2>@UserName</h2>
                    @*<p>4140 Parker Rd. Allentown, New Mexico 31134</p>*@
                </div>
            </div>
            <div class="icon">
                <ul class="list-inline">
                    <a href="https://www.facebook.com/olaglasses" target="_blank"> <li class="list-inline-item"><i class="fab fa-facebook-f"></i></li></a>
                    <a href="https://twitter.com/olaglasses" target="_blank"><li class="list-inline-item active"><i class="fab fa-twitter"></i></li></a>
                    <a href="https://www.instagram.com/" target="_blank"><li class="list-inline-item"><i class="fab fa-instagram"></i></li></a>
                    <a href="https://printess.com/" target="_blank"><li class="list-inline-item"><i class="fab fa-pinterest-p"></i></li></a>
                </ul>
            </div>
        </div>
        <div class="row pt-5">
            <div class="col-lg-4 col-md-4 client-menu">
                <div class="acount-bg">
                    <h2>My Account</h2>
                    <h4>My orders</h4>
                    <p>
                        <a style="color:black" href="@Url.Action("Orders","client",new { id = Convert.ToInt32(UserID) })">

                            <span>My Favourite</span>
                        </a>
                    </p>
                    <h4>Account Settings</h4>
                    <ul>
                        <li> <a id="PersonalInfo" href="@Url.Action("PersonalInfo","Client",new { id=Convert.ToInt32(UserID)})">Personal Info</a> </li>
                        <li><a href="#">Address management</a> </li>
                        <li><a id="clientchangepassword" href="@Url.Action("changepassword","Client")">Change Password</a> </li>
                        <li><a id="emailSubscribed" href="@Url.Action("EmailSubscriptions","Client",new { id=Convert.ToInt32(UserID)})">E-Mail Subscription</a> </li>
                        <li><a id="PrescriptionList" href="@Url.Action("PrescriptionList","Client",new { id=Convert.ToInt32(UserID)})">My Prescription </a> </li>
                    </ul>
                    <h4>others</h4>
                    <p>
                        <a style="color:black" target="_blank" href="@Url.Action("Favourites","Dashboard",new { id = Convert.ToInt32(UserID) })">

                            <span>My Favourite</span>
                        </a>
                    </p>
                </div>

            </div>
            <div class="col-lg-7 offset-md-1 col-md-7 detail-section">
                <div class="protfolio-system-right">
                    <h2>
                        Change Password

                    </h2>
                    @if (ViewBag.IsError != null)
                    {
                        <div class="alert alert-danger alert-dismissible fade show" role="alert" style="padding-right:0 !important" id="LinkCopy">
                            @ViewBag.IsError
                            @*<button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>*@
                        </div>
                    }
                    @if (ViewBag.IsSuccess != null)
                    {
                        <div class="alert alert-success alert-dismissible fade show" role="alert" style="padding-right:0 !important" id="LinkCopy">
                            @ViewBag.IsSuccess
                            @*<button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>*@
                        </div>
                    }
                    <div class="gender&input-aria">
                        <div class="row">



                            <form action="@Url.Action("ChangePassword","client")" method="post">

                                <div class=" d-flex input-item flex-wrap">
                                    <label class="form-label input-left-item">Current Password</label>
                                    <input id="oldPassword" name="oldPassword" required class="form-control input-right-item trnform" type="password"
                                           placeholder="Enter Current Password">
                                </div>

                                <div class=" d-flex input-item flex-wrap">
                                    <label class="form-label input-left-item">New Password</label>
                                    <input name="newPassword" id="newPassword" required class="form-control input-right-item trnform" type="password"
                                           placeholder="Enter New Password">
                                </div>

                                <span id='message'></span>
                                <div class=" d-flex input-item flex-wrap">
                                    <label class="form-label input-left-item">Confirm Password</label>
                                    <input id="confirm_password" required class="form-control input-right-item trnform" type="password"
                                           placeholder="Enter Confirm Password">
                                </div>
                                <div class=" d-flex input-item flex-wrap">
                                    <label class="form-label input-left-item"></label>
                                    <button class="update-btn input-right-item trnform" type="submit" id="Register">
                                        update
                                        now
                                    </button>
                                </div>
                            </form>


                        </div>

                    </div>
                </div>


            </div>
        </div>
    </div>
</section>

<script src="~/assets/js/jquery-1.12.4.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("ul li a").removeClass("active");
        $('#clientchangepassword').addClass('active');
        $("#LinkCopy").fadeOut(8000);
    });


    $('#newPassword, #confirm_password').on('keyup', function () {
        if ($('#newPassword').val() == $('#confirm_password').val()) {
            $('#message').html('Matching').css('color', 'white');
            document.getElementById("Register").disabled = false;
        } else {
            $('#message').html('Not Matching').css('color', 'red');
            document.getElementById("Register").disabled = true;
        }
    });


</script>