@using Olaglasses.Models;
@model Olaglasses.Models.tblUserPrescription
@{
    ViewBag.Title = "PrescriptionList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{string UserID = "";}

@{string UserName = "";}
@{string UserImage = "";}
@{string CoverImage = "";}
@if (@Context.Request.Cookies["_UserID"].Value != null && @Context.Request.Cookies["_UserID"].Value != "")
{
    UserID = @Context.Request.Cookies["_UserID"].Value;
}
@if (Session["UserID"] != null)
{
    UserID = Session["UserID"].ToString();
}

@if (@Context.Request.Cookies["_UserImage"].Value != null && @Context.Request.Cookies["_UserImage"].Value != "")
{
    UserImage = @Context.Request.Cookies["_UserImage"].Value;
}

@if (Session["UserImage"] != null)
{
    UserImage = Session["UserImage"].ToString();
}

@if (@Context.Request.Cookies["_UserName"].Value != null && @Context.Request.Cookies["_UserName"].Value != "")
{
    UserName = @Context.Request.Cookies["_UserName"].Value;
}
@if (Session["userName"] != null)
{
    UserName = Session["userName"].ToString();
}@if (@Context.Request.Cookies["_CoverImagecookie"].Value != null && @Context.Request.Cookies["_CoverImagecookie"].Value != "")
{
    CoverImage = @Context.Request.Cookies["_CoverImagecookie"].Value;
}

@if (Session["CoverPhoto"] != null)
{
    CoverImage = Session["CoverPhoto"].ToString();
}
<head>
    <style>
        .bg-success-light {
            background-color: rgba(15, 183, 107,0.12) !important;
            color: #26af48 !important;
        }

        .protfolio-system .input-item .input-right-item {
            width: 100%;
        }

        input {
            padding: 3px !important;
        }

        .client-menu {
            width: 26%;
        }

        @@media(max-width: 768px) {
            .form-group {
                margin-top: 0% !important;
            }
        }

        @@media(min-width: 768px) {
            .client-menu {
                width: 26%;
            }
        }

        @@media(max-width: 768px) {
            .detail-section {
                padding-top: 10px;
            }
        }
    </style>
</head>
<!-- ::::protfolio-hero-aria start:::::: -->
<section class="protfolio-hero-aria protfolio-banner custum-mg">
    <div class="protfolio-banner bg-img-content" style="background:url(@CoverImage)">
        <h1 class="d-none"> none</h1>
    </div>
</section>
<!-- ::::protfolio-hero- ariaend:::::: -->

<section class="protfolio-system">
    <div class="has-bg">
        <div class="has-bg-1">
            <img src="~/assets/img/protfolio-bg-left.png" alt="img">
        </div>
        <div class="has-bg-2">
            <img src="~/assets/img/protfolio-bg-right.png" alt="img">
        </div>
    </div>
    <div class="container custum-pd2">
        <div class="d-flex flex-wrap justify-content-between align-items-center">
            <div class="protfolio-img d-flex align-items-center ">
                <div class="img">
                    <img src="@UserImage" alt="img">
                </div>
                <div class="brooklyn">
                    <h2>@UserName</h2>
                    @*<p>4140 Parker Rd. Allentown, New Mexico 31134</p>*@
                </div>
            </div>
            <div class="icon">
                <ul class="list-inline">
                    <a href="https://www.facebook.com/olaglasses" target="_blank"> <li class="list-inline-item"><i class="fab fa-facebook-f"></i></li></a>
                    <a href="https://twitter.com/olaglasses" target="_blank"><li class="list-inline-item active"><i class="fab fa-twitter"></i></li></a>
                    <a href="https://www.instagram.com/" target="_blank"><li class="list-inline-item"><i class="fab fa-instagram"></i></li></a>
                    <a href="https://printess.com/" target="_blank"><li class="list-inline-item"><i class="fab fa-pinterest-p"></i></li></a>
                </ul>
            </div>
        </div>
        <div class="row pt-5">
            <div class="col-lg-4 col-md-4 client-menu">
                <div class="acount-bg">
                    <h2>My Account</h2>
                    <h4>My orders</h4>
                    <p>
                        <a style="color:black" href="@Url.Action("Orders","client",new { id = Convert.ToInt32(UserID) })">

                            <span>Order List</span>
                        </a>
                    </p>
                    <h4>Account Settings</h4>
                    <ul>
                        <li> <a id="PersonalInfo" href="@Url.Action("PersonalInfo","Client",new { id=Convert.ToInt32(UserID)})">Personal Info</a> </li>
                        <li><a id="addressmanagement" href="@Url.Action("addressmanagement","Client",new { id=Convert.ToInt32(UserID)})">Address management</a> </li>
                        <li><a id="clientchangepassword" href="@Url.Action("changepassword","Client")">Change Password</a> </li>
                        <li><a id="emailSubscribed" href="@Url.Action("EmailSubscriptions","Client",new { id=Convert.ToInt32(UserID)})">E-Mail Subscription</a> </li>
                        <li><a id="PrescriptionList" href="@Url.Action("PrescriptionList","Client",new { id=Convert.ToInt32(UserID)})">My Prescription </a> </li>
                    </ul>
                    <h4>others</h4>
                    <p>
                        <a style="color:black" target="_blank" href="@Url.Action("Favourites","Dashboard",new { id = Convert.ToInt32(UserID) })">

                            <span>My Favourite</span>
                        </a>
                    </p>
                </div>

            </div>
            <div class="col-lg-7 offset-md-1 col-md-7 detail-section">
                <h2>Prescription Detail  <a href="@Url.Action("PrescriptionList","client", new { id=@ViewBag.UserID})" class="btn btn-secondary float-right" style="background-color:var(--Secondery-color); color:white ;float: right;"><i class="fa fa-list"></i> Prescription List</a></h2>
                <hr />
                <div class="gender&input-aria">

                    <div class="service-fields">


                        <div class="row">

                            <div class="col-md-3">
                                <div class="form-group" style="margin-top: 18%;">
                                    <h6>   Left Eye</h6>
                                </div>
                            </div>
                            <div class="col-md-2 d-flex input-item flex-wrap">
                                <div class="form-group">
                                    <label>SPH</label>
                                    <input disabled class="form-control input-right-item trnform" value="@Model.l_sph">
                                </div>
                            </div>
                            <div class="col-md-2 d-flex input-item flex-wrap">
                                <div class="form-group">
                                    <label>CYL</label>
                                    <input disabled class="form-control input-right-item trnform" value="@Model.l_cyl">
                                </div>
                            </div>
                            <div class="col-md-2 d-flex input-item flex-wrap">
                                <div class="form-group">
                                    <label>AXIS</label>
                                    <input disabled class="form-control input-right-item trnform" value="@Model.l_axis">
                                </div>
                            </div>
                            <div class="col-md-2 d-flex input-item flex-wrap">
                                <div class="form-group">
                                    <label>ADD</label>
                                    <input disabled class="form-control input-right-item trnform" value="@Model.l_add">
                                </div>
                            </div>




                        </div>

                        <div class="row">

                            <div class="col-md-3">
                                <div class="form-group" style="margin-top: 18%;">
                                    <h6> Right Eye </h6>
                                </div>
                            </div>
                            <div class="col-md-2 d-flex input-item flex-wrap">
                                <div class="form-group">
                                    <label>SPH</label>
                                    <input disabled class="form-control input-right-item trnform" value="@Model.r_sph">
                                </div>
                            </div>
                            <div class="col-md-2 d-flex input-item flex-wrap">
                                <div class="form-group">
                                    <label>CYL</label>
                                    <input disabled class="form-control input-right-item trnform" value="@Model.r_cyl">
                                </div>
                            </div>
                            <div class="col-md-2 d-flex input-item flex-wrap">
                                <div class="form-group">
                                    <label>AXIS</label>
                                    <input disabled class="form-control input-right-item trnform" value="@Model.r_axis">
                                </div>
                            </div>
                            <div class="col-md-2 d-flex input-item flex-wrap">
                                <div class="form-group">
                                    <label>ADD</label>
                                    <input disabled class="form-control input-right-item trnform" value="@Model.r_add">
                                </div>
                            </div>




                        </div>

                        <div class="row">

                            <div class="col-md-3">
                                <div class="form-group" style="margin-top: 18%;">
                                    <h6> Pupillary Distance (PD)</h6>
                                </div>
                            </div>
                            <div class="col-md-2 d-flex input-item flex-wrap">
                                <div class="form-group">
                                    <label>PD</label>
                                    <input disabled class="form-control input-right-item trnform" value="@Model.PD">
                                </div>
                            </div>





                        </div>

                        <div class="row">

                            <div class="col-md-3">
                                <div class="form-group" style="margin-top: 13%;">
                                    <h6> Who is the prescription for?</h6>
                                </div>
                            </div>
                            <div class="col-md-2 d-flex input-item flex-wrap">
                                <div class="form-group">
                                    <label>First Name</label>
                                    <input disabled class="form-control input-right-item trnform" value="@Model.Fname">
                                </div>
                            </div>

                            <div class="col-md-2 d-flex input-item flex-wrap">
                                <div class="form-group">
                                    <label>Last Name</label>
                                    <input disabled class="form-control input-right-item trnform" value="@Model.Lname">
                                </div>
                            </div>

                            <div class="col-md-2 d-flex input-item flex-wrap">
                                <div class="form-group">
                                    <label>Date of Prescription</label>
                                    @if (@Model.prescriptionDate != null)
                                    {
                                        <input disabled class="form-control input-right-item trnform" type="date" name="prescriptionDate" id="prescriptionDate" value="@Model.prescriptionDate.Value.ToString("yyyy-MM-dd")" required="">
                                    }
                                    else
                                    {
                                        <input disabled class="form-control input-right-item trnform" type="date" name="prescriptionDate" id="prescriptionDate" value="" required="">
                                    }
                                </div>
                            </div>





                        </div>
                    </div>



                    <!-- /Add Blog -->

                </div>


            </div>
        </div>
    </div>
</section>

<script src="~/assets/js/jquery-1.12.4.min.js"></script>
<script>
    $(document).ready(function () {
        $("ul li a").removeClass("active");
        $('#PrescriptionList').addClass('active');
        $("#LinkCopy").fadeOut(8000);
        $('#GlassesList').DataTable({
            searching: true,
            "ordering": false
        });
    });


</script>

