
@{
    ViewBag.Title = "News";
}


<section class="news-hero-aria">

    <div class="container-fluid custum-pd">
        <section class="news-hero-aria">

            <div class="container-fluid custum-pd">
                <div class="news-hero-aria-bg" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1500">
                    <div class="left-bg"></div>
                    <div class="content-area">
                        <span>Post by Admin // 24 Sept. 2021</span>
                        <h2>Progressive Lenses For Glasses – Are They For You?</h2>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Elit magna purus fami adipisci neque.
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        </p>
                       <a href="#readmore"> <button type="submit" class="btn btn-primary">Read More</button></a>
                    </div>
                    <img class="blog_mobile d-lg-none img-fluid" src="~/assets/img/banner-img.png" alt="img">
                    <div class="right-bg"></div>
                </div>
            </div>
        </section></div>
</section>

<!-- :::: hero aria end:::::: -->
<!-- :::: blog start:::::: -->
<section class="blog news-blog">
    <div class="has-bg3">
        <div class="has-bg-five">
            <img src="~/assets/img/index-bg/right-1.png" alt="img">
        </div>
        <div class="has-bg-six">
            <img src="~/assets/img/index-bg/left-1.png" alt="img">
        </div>
    </div>
    <div class="has-bg3 has-bg4">
        <div class="has-bg-five">
            <img src="~/assets/img/Bg-28.png" alt="img">
        </div>
        <div class="has-bg-six">
            <img src="~/assets/img/index-bg/right-2.png" alt="img">
        </div>
    </div>
    <div class="has-bg3 has-bg5">
        <div class="has-bg-five">
            <img src="~/assets/img/index-bg/left-2.png" alt="img">
        </div>
        <div class="has-bg-six">
            <img src="~/assets/img/index-bg/right-2.png" alt="img">
        </div>
    </div>
    <div class="has-bg3 has-bg9">
        <div class="has-bg-five">
            <img src="~/assets/img/index-bg/left-2.png" alt="img">
        </div>
        <div class="has-bg-six">
            <img src="~/assets/img/index-bg/right-2.png" alt="img">
        </div>
    </div>
    <div class="has-bg3 has-bg6">
        <div class="has-bg-five">
            <img src="~/assets/img/index-bg/left-3.png" alt="img">
        </div>
        <div class="has-bg-six">
            <img src="~/assets/img/index-bg/right-3.png" alt="img">

        </div>
    </div>
    <div class="has-bg3 has-bg7">
        <div class="has-bg-five">
            <img src="~/assets/img/index-bg/left-7.png" alt="img">
        </div>
        <div class="has-bg-six">
            <img src="~/assets/img/index-bg/right-7.png" alt="img">

        </div>
    </div>

    <div class="container-fluid custum-pd" id="readmore">
        @*<div class="has-radious">
            <div class="radious-one">
                <img src="~/assets/img/chat.svg" alt="chat">
            </div>
        </div>*@
        <div class="blog-bg bg-white p-0 ">
            <div class="keyword-earch ">
                <div class="search-box">
                    <input class="form-control" type="search" value="search"
                           placeholder="search">
                    <i class="fas fa-search search-icon"></i>
                </div>
                <div class="populerity mx-lg-5">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                                data-bs-toggle="dropdown" aria-expanded="false">
                            Short By <i class="fas fa-chevron-down"></i>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="row g-4 justify-content-center px-lg-5">
                <!-- :::: blog dingle item:::::: -->
                <div class="col-lg-4 col-md-6">
                    <div class="blog-item bg-transparent" data-aos="fade-right" data-aos-duration="1500">
                        <div class="img">
                            <img src="~/assets/img/blog-img-one.png" alt="">
                        </div>
                        <div class="details">
                            <p>Post by Admin // 24 Sept. 2021</p>
                            <h4>
                                <a target="_blank" href="@Url.Action("newsdetail","Home",new { id=0})">flat price for blue light blocking & anti-glare</a>

                            </h4>
                            <p class="text-black">
                                Protect your eyes by wearing the eyeglass with Blue light
                                blocking! Flat price for Blue light Blocking & Anti-glare.
                            </p>
                            <a target="_blank" class="btn btn-primary" href="@Url.Action("newsdetail","Home",new { id=0})"> read more</a>
                        </div>
                    </div>
                </div>
                <!-- :::: blog dingle item:::::: -->
                <div class="col-lg-4 col-md-6">
                    <div class="blog-item bg-white" data-aos="fade-up" data-aos-duration="1500">
                        <div class="img">
                            <img src="~/assets/img/blog-img-two.png" alt="img">
                        </div>
                        <div class="details">
                            <p>Post by Admin // 24 Sept. 2021</p>
                            <h4>

                                <a  target="_blank" class="active" href="@Url.Action("newsdetail","Home",new { id=0})">visual try on find cute frames? no wait! try at home!</a>
                            </h4>


                            <p class="text-black">
                                Protect your eyes by wearing the eyeglass with Blue light
                                blocking! Flat price for Blue light Blocking & Anti-glare.
                            </p>
                            <a target="_blank" class=" btn d-inline-block" href="@Url.Action("newsdetail","Home",new { id=0})"> read more</a>
                        </div>
                    </div>
                </div>
                <!-- :::: blog dingle item:::::: -->
                <div class="col-lg-4 col-md-6">
                    <div class="blog-item bg-white" data-aos="fade-left" data-aos-duration="1500">
                        <div class="img">
                            <img src="~/assets/img/news-blog-img-3.png" alt="img">
                        </div>
                        <div class="details">
                            <p>Post by Admin // 24 Sept. 2021</p>
                            <h4>

                                <a  target="_blank" href="@Url.Action("newsdetail","Home",new { id=0})">trabsittion lens with uv & blue light protection</a>
                            </h4>

                            <p class="text-black">
                                Protect your eyes by wearing the eyeglass with Blue light
                                blocking! Flat price for Blue light Blocking & Anti-glare.
                            </p>
                            <a target="_blank" class="btn btn-primary" href="@Url.Action("newsdetail","Home",new { id=0})"> read more</a>
                        </div>
                    </div>
                </div>
                <!-- :::: blog dingle item:::::: -->
                <div class="col-lg-4 col-md-6">
                    <div class="blog-item bg-white" data-aos="fade-right" data-aos-duration="1500">
                        <div class="img">
                            <img src="~/assets/img/news-blog-img-4.png" alt="img">
                        </div>
                        <div class="details">
                            <p>Post by Admin // 24 Sept. 2021</p>

                            <h4>
                                <a  target="_blank" href="@Url.Action("newsdetail","Home",new { id=0})">flat price for blue light blocking & anti-glare</a>

                            </h4>
                            <p class="text-black">
                                Protect your eyes by wearing the eyeglass with Blue light
                                blocking! Flat price for Blue light Blocking & Anti-glare.
                            </p>
                            <a target="_blank" class="btn btn-primary" href="@Url.Action("newsdetail","Home",new { id=0})"> read more</a>
                        </div>
                    </div>
                </div>
                <!-- :::: blog dingle item:::::: -->
                <div class="col-lg-4 col-md-6">
                    <div class="blog-item bg-white" data-aos="fade-up" data-aos-duration="1500">
                        <div class="img">
                            <img src="~/assets/img/news-blog-img-5.png" alt="img">
                        </div>
                        <div class="details">
                            <p>Post by Admin // 24 Sept. 2021</p>
                            <h4>

                                <a target="_blank" href="@Url.Action("newsdetail","Home",new { id=0})">flat price for blue light blocking & anti-glare</a>
                            </h4>

                            <p class="text-black">
                                Protect your eyes by wearing the eyeglass with Blue light
                                blocking! Flat price for Blue light Blocking & Anti-glare.
                            </p>
                            <a target="_blank" class="btn btn-primary" href="@Url.Action("newsdetail","Home",new { id=0})"> read more</a>
                        </div>
                    </div>
                </div>
                <!-- :::: blog dingle item:::::: -->
                <div class="col-lg-4 col-md-6">
                    <div class="blog-item bg-white" data-aos="fade-left" data-aos-duration="1500">
                        <div class="img">
                            <img src="~/assets/img/news-blog-img-6.png" alt="img">
                        </div>
                        <div class="details">
                            <p>Post by Admin // 24 Sept. 2021</p>
                            <h4>
                                <a target="_blank" href="@Url.Action("newsdetail","Home",new { id=0})">flat price for blue light blocking & anti-glare</a>

                            </h4>
                            <p class="text-black">
                                Protect your eyes by wearing the eyeglass with Blue light
                                blocking! Flat price for Blue light Blocking & Anti-glare.
                            </p>
                            <a target="_blank" class="btn btn-primary" href="@Url.Action("newsdetail","Home",new { id=0})"> read more</a>
                        </div>
                    </div>
                </div>
                <!-- :::: blog dingle item:::::: -->
                <div class="col-lg-4 col-md-6">
                    <div class="blog-item bg-white" data-aos="fade-right" data-aos-duration="1500">
                        <div class="img">
                            <img src="~/assets/img/news-blog-img-7.png" alt="img">
                        </div>
                        <div class="details">
                            <p>Post by Admin // 24 Sept. 2021</p>
                            <h4>

                                <a target="_blank" href="@Url.Action("newsdetail","Home",new { id=0})">flat price for blue light blocking & anti-glare</a>
                            </h4>
                            <p class="text-black">
                                Protect your eyes by wearing the eyeglass with Blue light
                                blocking! Flat price for Blue light Blocking & Anti-glare.
                            </p>
                            <a  target="_blank" class="btn btn-primary" href="@Url.Action("newsdetail","Home",new { id=0})"> read more</a>
                        </div>
                    </div>
                </div>
                <!-- :::: blog dingle item:::::: -->
                <div class="col-lg-4 col-md-6">
                    <div class="blog-item bg-white" data-aos="fade-up" data-aos-duration="1500">
                        <div class="img">
                            <img src="~/assets/img/news-blog-img-8.png" alt="img">
                        </div>
                        <div class="details">
                            <p>Post by Admin // 24 Sept. 2021</p>
                            <h4>
                                <a target="_blank" href="@Url.Action("newsdetail","Home",new { id=0})">flat price for blue light blocking & anti-glare</a>

                            </h4>
                            <p class="text-black">
                                Protect your eyes by wearing the eyeglass with Blue light
                                blocking! Flat price for Blue light Blocking & Anti-glare.
                            </p>
                            <a target="_blank" class="btn btn-primary" href="@Url.Action("newsdetail","Home",new { id=0})"> read more</a>
                        </div>
                    </div>
                </div>
                <!-- :::: blog dingle item:::::: -->
                <div class="col-lg-4 col-md-6">
                    <div class="blog-item bg-white" data-aos="fade-left" data-aos-duration="1500">
                        <div class="img">
                            <img src="~/assets/img/news-blog-img-9.png" alt="img">
                        </div>
                        <div class="details">
                            <p>Post by Admin // 24 Sept. 2021</p>
                            <h4>
                                <a  target="_blank" href="@Url.Action("newsdetail","Home",new { id=0})">flat price for blue light blocking & anti-glare</a>

                            </h4>
                            <p class="text-black">
                                Protect your eyes by wearing the eyeglass with Blue light
                                blocking! Flat price for Blue light Blocking & Anti-glare.
                            </p>
                            <a target="_blank" class="btn btn-primary" href="@Url.Action("newsdetail","Home",new { id=0})"> read more</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 mx-auto ">
                <div class="pagination d-flex align-items-center justify-content-center">
                    <ul>
                        <li> <a class="active" href="#">01</a> </li>
                        <li> <a href="#">02</a> </li>
                        <li> <a href="#">03</a> </li>
                        <li> <a href="#">04</a> </li>
                        <li> <a href="#">05</a> </li>
                    </ul>
                    <a class="click" href="#">Next</a>
                </div>
            </div>
        </div>
    </div>
    <!--  -->
</section>
<!-- :::: blog end:::::: -->
<!-- ::::  has-radious:::::: -->
@*<div class="has-radious">
    <div class="radious-one">
        <a href="#">

            <img src="~/assets/img/chat.svg" alt="chat">
        </a>
    </div>
</div>*@
<!-- ::::  has-radious end:::::: -->
<!-- :::: ctl start:::::: -->
<section class="ctl">
    <div class="container custum-pd2">
        <div class="cta-bg position-relative">
            <div class="ctl-bg ">
                <div class="row justify-content-center align-items-center">
                    <!-- :::: ctl single item:::::: -->
                    <div class="col-lg-6">
                        <div class="title">
                            <h2>Newsletter</h2>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mau faucibus velit vitae id.
                                Elementum est id eleifend lacus
                            </p>
                        </div>
                    </div>
                    <!-- :::: ctl single item:::::: -->
                    <div class="col-lg-6">
                        <form action="method">
                            <input type="email" class="form-control" placeholder="Email Address">
                            <button type="submit">subscribe now</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- :::: ctl end:::::: -->
<script src="~/assets/js/jquery-1.12.4.min.js"></script>
<script>
    $(document).ready(function () {
        $("ul li a").removeClass("active");
        $('#News').addClass('active');
    });
</script>